@use "../../../sass/abstracts/vars";
@use "../../../sass/abstracts/mixins";

.showcase {
    background-color: pink;
    height: calc(100vh - 5rem);
    position: relative;
    &__images {
        width: 100vw;
        aspect-ratio: 16/9;
        background-color: red;
        @include mixins.breakpoint(laptop) {
            width: 60vw;
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 1;
            transform: translateX(-50%);
        }
    }
    &__content {
        position: relative;
        z-index: 2;
        margin-top: -2rem;
        // background-color: tan;
        @include mixins.breakpoint(laptop) {
            margin-top: 0;
        }
    }
    &__number {
        font-family: vars.$font__slab;
        font-size: 8rem;
        line-height: .75;
        font-weight: bold;
        opacity: 0.6;
        @include mixins.breakpoint(laptop) {
            font-size: 31rem;
        }
    }
    &__artist {
        font-size: 4rem;
        font-family: vars.$font__fatface;
        line-height: .75;
        text-transform: uppercase;
        text-align: right;
        @include mixins.breakpoint(laptop) {
            font-size: 6rem;
        }
    }
    &__counter {
        display: none;
        @include mixins.breakpoint(laptop) {
            display: block;
            font-size: 1.5rem;
            font-family: vars.$font__fatface;
        }
    }
}